@media (min-width: 740px) and (max-width: 959px)  {
  .container { width: 740px; }

  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }

  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-12 { right: 100%; }

  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-12 { left: 100%; }

  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }

  .col-sm-five {
    width: 20%;
    float: left;
  }

  /*.burger {
    border: 2px solid #383a46;
    width: 40px;
    height: 40px;
    padding: 7px 8px;
    border-radius: 5px;
    transition: 0.2s;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: -20px;
    cursor: pointer;
	}

	.burger_stripe {
		position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: #383a46;
    border-radius: 5px;
    transition: 0.2s;
	}

	.burger_stripe:before, .burger_stripe:after {
    position: relative;
    display: block;
    height: 2px;
    background: #383a46;
    top: 10px;
    left: 0;
    /*border-radius: 5px;
    content: '';
    transition: 0.2s;
	}

	.burger_stripe:after {
    top: 18px;
	}

	.burger:hover {
    border-color: #8086aa;
    transition: 0.5s;
	}
*/*/
 .row-nav {
     margin: 0;
  }

  .block-logo {
    padding-top: 0;
  }

  .nav-item {
    padding: 30px 0 20px 0;
  }

  .btn-red {
    position: relative;
    bottom: -30px;
  }
   .main-nav {
    flex-direction: column;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.2s ease;
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100vh;
    position: fixed;
   }

   .main-nav.open {
    -webkit-transform: translateX(6%);
    -ms-transform: translateX(6%);
    transform: translateX(6%);
    width: 38%;
    transition: transform 0.2s ease;
  }

  .main-nav:before {
    width: 0;
  }

  .main-nav:after {
    width: 0;
  }

  .nav-item {
    display: block;
    text-align: center;
  }

  .main-nav .btn-red {
    display: block;
    margin: 0 auto;
  }

	.logo-text {
    font-size: 14px;
  }

  .img-text {
    font-size: 22px;
  }

  .site-telephone {
    padding-right: 36px;
  }

  .site-telefone-item {
    font-size: 14px;
    padding-right: 20px;
    height: 27px;
  }

  .call-sm {
    display: inline;
  }

  .call {
    display: none;
  }

  .telephone-number {
    font-size: 16px;
  }

	.block-logo .row {
		position: relative;
    bottom: -9px;
	}

	.block-logo {
		padding-bottom: 10px;
	}

  .row-nav {
    position: relative;
  }

  .nav-item {
    margin: 0;
  }

  .burger {
    position: absolute;
    display: inline-block;
    top: 12px;
    right: -20px;
  }

  .burger, .close {
    display: inline-block;
    width: 40px;
    height: 35px;
    margin: 5px 10px;
    padding: 16px 7px;
    cursor: pointer;
    background-color: #383A46;
  }

  .burger span, .close span {
    position: relative;
    display: block;
  }

  .burger span, .burger span:after, .burger span:before, .close span:before, .close span:after {
    width: 100%;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    content: "";
  }

  .burger span:after, .burger span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
  }

  .burger span:after {
    top: 8px;
  }

  .close span:after {
    top: 8px;
  }

  .close {
    float: right;
    margin: 15px 10px;
    position: fixed;
    margin-left: 66%;
    z-index: 4;
    top: 0;
  }
  .close span {
    background-color: transparent;
  }
  .close span:before, .close span:after {
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .close span:before {
    top: -8px;
  }
  .close span:before {
    -webkit-transform: rotate(45deg) translate(2px, 5px);
    -ms-transform: rotate(45deg) translate(2px, 5px);
    transform: rotate(45deg) translate(2px, 5px);
  }
  .close span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -9px);
    -ms-transform: rotate(-45deg) translate(6px, -9px);
    transform: rotate(-45deg) translate(6px, -9px);
  }

  .close-nav:before {
    content: "";
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -70px;
    right: 264px;
    z-index: 3;
    background-image: url(../img/closewindow.jpg);
  }

  .offer-title  {
    font-size: 28px;
  }

  .advantages-items:before, .offer-bottom-title:after {
    width: 610px;
  }

  .advantages-items li {
    margin-left: 0;
  }

  .advantages-items span {
    width: 160px;
    display: inherit;
    margin-left: 65px;
  }

  .offer-bottom-title:after{
    left: 50px;
  }

  .seo-items {
    width: 360px;
  }

  .footer-item {
    font-size: 14px;
    padding-left: 40px;
    width: 244px;
  }

  .footer-item:nth-child(5), .footer-item:nth-child(4) {
    display: none;
  }

  .footer-item li {
    padding: 10px 0 0 0;
  }

  .footer-item a {
    font-size: 12px;
  }

  .page-footer {
    font-size: 14px;
  }

  .offer-form-text {
    margin-top: 10px;
    font-size: 16px;
    word-spacing: 0;
  }

  .offer-form .inputbox {
    font-size: 12px;
    padding: 10px 5px;
    text-align: center;
  }

  .offer-form .btn-green {
    width: 100%;
    font-size: 12px;
    padding: 11px 5px;
    margin-top: 0;
  }

  .advantages-items li {
    font-size: 16px;
  }

  .consult-form .inputbox {
    font-size: 12px;
    padding: 10px 5px;
    text-align: center;
  }

  .consult-text {
    font-size: 16px;
    word-spacing: 0;
    margin-top: 10px;
  }

  .consult-form .btn-green {
    margin-left: 0;
    font-size: 12px;
    padding: 11px 10px;
  }

  // профи

  .professional-form:before {
    left: 45px;
    transform: translate(50%, 0);
  }

  .offer-proffessional .offer-block {
    padding-bottom: 35px;
  }

  .professional-form:after {
    left: 10%;
    width: 80%;
  }

  /*третья страница*/

  .main_photo {
    width: 250px;
  }

  .mini_photos {
    height: 60px;
    margin-left: 30px;
  }

  .product-details-item {
    width: 230px;
    font-size: 13px;
  }

  .product-description-title {
    font-size: 22px;
  }

.product-description-text {
  font-size: 12px;
}

.total {
  padding: 105px 0 0px 0;
}

.total-title {
  font-size: 20px;
}

.total-text {
  font-size: 13px;
}

.total-remark {
  font-size: 12px;
}

.offer-more-text {
  font-size: 16px;
}

.more-offer-name {
  font-size: 12px;
}

.more-offer-name {
  font-size: 14px;
}

.tab {
  font-size: 16px;
}

.content-text {
  font-size: 12px;
}

.rewievs {
  font-size: 16px;
}

.rewievs-item {
  font-size: 12px;
}

.offer-more-text {
  margin: 20px 0;
}

/*контакты*/

.delivery-title {
  padding-left: 0;
  font-size: 26px;
}

.delivery-title:after {
  left: 0;
}

.first-title:after {
  width: 460px;
}

.delivery-text {
  padding-left: 0;
  font-size: 13px;
  line-height: 30px;
}

.second-title:after {
  width: 390px;
}

.third-title:after {
  width: 580px;
}

.btn-requisites {
  margin-left: 0;
  font-size: 26px;
}

.requisites-text {
  font-size: 14px;
  padding-left: 0;
  line-height: 30px;
}

.btn-info {
  margin-left: 0;
  font-size: 13px;
}

.internet-shop-title {
  font-size: 20px;
  margin-left: 0;
  padding-left: 0;
}

.internet-shop-text {
  font-size: 13px;
  padding-left: 0;
}

.last-title {
  font-size: 15px;
  padding-left: 0;
}

}