@media (min-width: 320px) and (max-width: 739px) {
	.container { width: 320px; }
/* Адаптивные стили для мобильных 320px */
	.col-xs-1 { width: 8.33333%; }
	.col-xs-2 { width: 16.66667%; }
	.col-xs-3 { width: 25%; }
	.col-xs-4 { width: 33.33333%; }
	.col-xs-5 { width: 41.66667%; }
	.col-xs-6 { width: 50%; }
	.col-xs-7 { width: 58.33333%; }
	.col-xs-8 { width: 66.66667%; }
	.col-xs-9 { width: 75%; }
	.col-xs-10 { width: 83.33333%; }
	.col-xs-11 { width: 91.66667%; }
	.col-xs-12 { width: 100%; }

	.col-xs-pull-0 { right: auto; }
	.col-xs-pull-1 { right: 8.33333%; }
	.col-xs-pull-2 { right: 16.66667%; }
	.col-xs-pull-3 { right: 25%; }
	.col-xs-pull-4 { right: 33.33333%; }
	.col-xs-pull-5 { right: 41.66667%; }
	.col-xs-pull-6 { right: 50%; }
	.col-xs-pull-7 { right: 58.33333%; }
	.col-xs-pull-8 { right: 66.66667%; }
	.col-xs-pull-9 { right: 75%; }
	.col-xs-pull-10 { right: 83.33333%; }
	.col-xs-pull-11 { right: 91.66667%; }
	.col-xs-pull-12 { right: 100%; }

	.col-xs-push-0 { left: auto; }
	.col-xs-push-1 { left: 8.33333%; }
	.col-xs-push-2 { left: 16.66667%; }
	.col-xs-push-3 { left: 25%; }
	.col-xs-push-4 { left: 33.33333%; }
	.col-xs-push-5 { left: 41.66667%; }
	.col-xs-push-6 { left: 50%; }
	.col-xs-push-7 { left: 58.33333%; }
	.col-xs-push-8 { left: 66.66667%; }
	.col-xs-push-9 { left: 75%; }
	.col-xs-push-10 { left: 83.33333%; }
	.col-xs-push-11 { left: 91.66667%; }
	.col-xs-push-12 { left: 100%; }

	.col-xs-offset-0 { margin-left: 0%; }
	.col-xs-offset-1 { margin-left: 8.33333%; }
	.col-xs-offset-2 { margin-left: 16.66667%; }
	.col-xs-offset-3 { margin-left: 25%; }
	.col-xs-offset-4 { margin-left: 33.33333%; }
	.col-xs-offset-5 { margin-left: 41.66667%; }
	.col-xs-offset-6 { margin-left: 50%; }
	.col-xs-offset-7 { margin-left: 58.33333%; }
	.col-xs-offset-8 { margin-left: 66.66667%; }
	.col-xs-offset-9 { margin-left: 75%; }
	.col-xs-offset-10 { margin-left: 83.33333%; }
	.col-xs-offset-11 { margin-left: 91.66667%; }
	.col-xs-offset-12 { margin-left: 100%; }

	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
	.col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
	.col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {	float: left; }

	    .col-xs-five {
        width: 20%;
        float: left;
    }

  .header-logo {
  	padding-top: 5px;
  }

	.site-telephone {
		display: none;
	}

	.logo-text {
		font-size: 13px;
	}

	.logo-text:last-child {
		padding-bottom: 5px;
	}

	.img-text {
		font-size: 16px;
		padding-top: 10px;
	}

  .burger {
    border: 2px solid #21bdc7;
    width: 40px;
    height: 40px;
    /*margin: 15px 0;*/
    padding: 7px 8px;
    border-radius: 5px;
    transition: 0.2s;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
	}

	.burger_stripe {
		position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: #21bdc7;
    border-radius: 5px;
    transition: 0.2s;
	}

	.burger_stripe:before, .burger_stripe:after {
    position: relative;
    display: block;
    height: 2px;
    background: #21bdc7;
    top: 10px;
    left: 0;
    border-radius: 5px;
    content: '';
    transition: 0.2s;
	}

	.burger_stripe:after {
    top: 18px;
	}

	.burger:hover {
    border-color: #14dde8;
    transition: 0.5s;
	}


   .main-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
    position: absolute;
    width: 250px;
    right: 0;
    top: 0px;
    z-index: 2;
   }

   .main-nav:before {
    width: 0;
  }

  .main-nav:after {
    width: 0;
  }

  .nav-item {
    display: block;
    text-align: center;
    margin: 0;
    font-size: 14px;
  }

  .main-nav .btn-red {
    display: block;
    margin: 0 auto;
  }

  .close-nav:before {
    content: "";
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 8px;
    right: 219px;
    /* left: 0; */
    z-index: 3;
    background-image: url(../img/closewindow.jpg);
  }

  .offer-form {
    text-align: center;
  }

  .offer-title {
    font-size: 16px;
  }

  .offer-text {
    font-size: 14px;
  }

  .offer-form-text {
    font-size: 18px;
    height: 50px;
  }

  .offer-form .inputbox {
    font-size: 12px;
    text-align: center;
    width: 100%;
  }

  .offer-form .btn-green {
    margin-top: 10px;
    font-size: 14px;
  }

  .advantages-items li {
    margin: 20px 0 20px 35px;
  }

  .advantages-items:before {
    width: 0;
  }

  .advantages-gps {
    left: -20px;
    top: 25px;
  }

  .advantages-camera {
    left: -20px;
    top: 30px;
  }

.advantages-timer {
    left: -20px;
    top: 40px;
}

.advantages-items {
  margin: 0 15px 100px 15px;
}

.advantages-items li {
  font-size: 16px;
}

.offer-bottom-title {
  font-size: 18px;
}

.offer-bottom-title:after {
  width: 300px;
  left: 5px;
}

.consult-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 10px;
}

.consult-form .inputbox {
  text-align: center;
  margin-bottom: 10px;
}

.consult-form .btn-green {
  margin-left: 30px;
}

.seo {
  // display: none;
}

.seo-items {
  width: 290px;
}

.footer-item:not(:first-child) {
  display: none;
}

.footer_info {
  text-align: justify;
  font-size: 12px;
}

.footer-items:after {
  left: 10px;
}

// профи
.offer-form-text {
  text-align: center;
}

.offer-form .btn-green {
  width: 100%;
}

.offer-form .input {
  width: 100%;
}

.professional-form:after {
  width: 50%;
  left: 25%;

}

.professional-form:before {
  left: 38%;
  transform: translate(50%, 0);
}

.professional-seo p {
  padding: 0;
}

.product-details-item {
  width: 100%;
}

.total {
  padding: 30px 0 20px 0;
}

.total-remark {
  display: none;
}

.total-text {
  margin-bottom: 15px;
}

.tab {
  font-size: 10px;
  padding: 0 5px;
}

.rewievs {
  padding-left: 70px;
}

.rewievs-title {
  margin-right: 100px;
}

.more-offer {
  display: none;
}

/*контакты*/

.delivery-title {
  padding-left: 0;
  font-size: 22px;
  line-height: 30px;
}

.delivery-title:after {
  left: 0;
}

.first-title:after {
  width: 330px;
}

.delivery-text {
  padding-left: 0;
  font-size: 12px;
  line-height: 28px;
}

.second-title:after {
  width: 300px;
}

.third-title:after {
  width: 320px;
}

.btn-requisites {
  margin-left: 0;
  font-size: 20px;
}

.requisites-text {
  font-size: 12px;
  padding-left: 0;
  line-height: 20px;
}

.btn-info {
  margin-left: 0;
  font-size: 11px;
}

.internet-shop-title {
  font-size: 18px;
  margin-left: 0;
  padding-left: 0;
}

.internet-shop-text {
  font-size: 13px;
  padding-left: 0;
}

.last-title {
  font-size: 15px;
  padding-left: 0;
}

}